body {
  margin: 0;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    #41a281 31%,
    #d26200 47%,
    #fc9e22 92%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: white;
}

#game-container {
  position: relative;
  width: 1000px;
  height: 800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#info-box {
  width: 200px;
  padding: 10px;
  border: 3px solid black;
  margin-right: 20px;
  font-size: large;
  background-color: rgb(59, 59, 59);
  box-shadow: 10px 10px 2px 1px rgba(0, 0, 0, 0.2);
}

#info-box img {
  width: 200px;
  height: auto;
}

canvas {
  background-color: rgb(189, 189, 188);
  box-shadow: 30px 30px 2px 1px rgba(0, 0, 0, 0.2);
  border: 3px solid black;
}

#canvas-container {
  position: relative;
  width: 800px;
  height: 800px;
}

#gameover-display {
  display: none;
}

#leaderboard-display {
  display: none;
}

#start-display,
#leaderboard-display,
#gameover-display {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#leaderboard-display h2 {
  font-size: 24px;
  color: #fafafa;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

#gameover-display #game-over {
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
  text-transform: uppercase;
}

#gameover-display #final-score {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  margin: 20px 0;
  font-weight: normal;
}

#start-button {
  margin-bottom: 20px;
}

#leaderboard-display ol {
  list-style: none;
  padding: 0;
  font-size: 20px;
  max-width: 300px;
  text-align: left;
}

#leaderboard-display li {
  border-bottom: 1px solid #a1a1a1;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
}

#leaderboard-display li:last-child {
  border-bottom: none;
}

#leaderboard-display li:hover {
  color: black;
  background-color: #ededed;
}

#leaderboard-display button {
  margin-top: 20px;
}

/* CSS btn by Alpine Day*/
.styled-btn {
  background-color: #ededed;
  border: 0 solid #e5e7eb;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif, system-ui, -apple-system, system-ui, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  margin-top: 20px;
  padding: 0.75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.styled-btn:focus {
  outline: 0;
}

.styled-btn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.styled-btn:hover {
  bottom: 2px;
  left: 2px;
  background-color: #a1a1a1;
}

@media (min-width: 768px) {
  .styled-btn {
    padding: 0.75rem 3rem;
    font-size: 1.25rem;
  }
}
